<sw-page class="pc-pro-lib-group-detail">
    <template slot="smart-bar-header">
        <h2>{{ item.name }}</h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'pc.pro.lib.group.list' }">
            {{ $tc('pc-pro-lib-group.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $tc('pc-pro-lib-group.buttons.saveButtonText') }}
        </sw-button-process>

        <sw-button
                variant="primary"
                @click="onClickNewDraft"
        >
            {{ $tc('pc-pro-lib-group.buttons.newDraft') }}
        </sw-button>
    </template>

    <template #language-switch>
        <sw-language-switch
                slot="language-switch"
                :disabled="item && item.isNew()"
                @on-change="onChangeLanguage"
        />
    </template>

    <template slot="content">
        <sw-card-view v-if="item">
            <sw-tabs defaultItem="general">
                <template slot-scope="{ active }">
                    {% block pro_lib_detail_tabs %}
                        <sw-tabs-item name="general"
                                      :activeTab="active">
                            {{ $tc('pc-pro-lib-group.cards.general') }}
                        </sw-tabs-item>

                        <sw-tabs-item name="items"
                                      :activeTab="active"
                                      :disabled="item && item.isNew()">
                            {{ $tc('pc-pro-lib-group.cards.versions') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template slot="content" slot-scope="{ active }">
                    {% block artwork_detail_content %}
                        <sw-card
                                v-if="active === 'general'"
                                :title="$tc('pc-pro-lib-group.cards.general')"
                        >
                            <sw-text-field
                                    :label="$tc('pc-pro-lib-group.properties.name')"
                                    v-model="item.name"
                            />

                            <sw-entity-single-select
                                    :label="$tc('pc-pro-lib-group.properties.customer')"
                                    v-model="item.customerId"
                                    entity="customer"
                                    labelProperty="customerNumber"
                            />

                            <sw-entity-single-select
                                    :label="$tc('pc-pro-lib-group.properties.lastOrderItemId')"
                                    v-model="item.lastOrderItemId"
                                    entity="pc_pro_lib_item"
                            />

                            <sw-entity-single-select
                                    :label="$tc('pc-pro-lib-group.properties.lastVersionItemId')"
                                    v-model="item.lastVersionItemId"
                                    entity="pc_pro_lib_item"
                            />

                            <sw-entity-single-select
                                    :label="$tc('pc-pro-lib-group.properties.lastItemOrderId')"
                                    v-model="item.lastItemOrderId"
                                    entity="pc_pro_lib_item_order"
                                    :criteria="lastItemOrderCriteria"
                            >
                                <template #selection-label-property="{ item, index }">
                                    {{ item.proLibItem.name }},
                                    NUMBER: {{ item.order.orderNumber }},
                                    QTY: {{ item.quantity }}
                                </template>

                                <template #result-label-property="{ item, index }">
                                    {{ item.proLibItem.name }},
                                    NUMBER: {{ item.order.orderNumber }},
                                    QTY: {{ item.quantity }}
                                </template>
                            </sw-entity-single-select>
                        </sw-card>
                    {% endblock %}

                    <pc-pro-lib-group-item-list
                            v-if="active === 'items'"
                            :proLibGroupId="item.id"
                    />
                </template>
            </sw-tabs>
        </sw-card-view>
    </template>
</sw-page>
