<div class="sw-product-detail-base">
    <sw-card
            v-if="!isLoading"
            :title="$tc('sw-product.detail.cardAccessories')"
            :isLoading="isLoading"
    >
        <template v-if="!parentProduct.id">
            <sw-single-select
                    :options="pcProductTypes"
                    :label="$tc('sw-product.detail.pcProductType')"
                    v-model="product.extensions.pcProduct.type"
                    show-clearable-button
            />

            <sw-field
                    :label="$tc('sw-product.detail.pcTechnicalName')"
                    v-model="product.extensions.pcProduct.technicalName"
            />
        </template>

        <sw-inherit-wrapper
                v-model="product.extensions.accessoryOptions"
                :has-parent="!!parentProduct.id"
                :inherited-value="parentProduct.extensions ? parentProduct.extensions.accessoryOptions : null"
                :label="$tc('sw-product.detail.cardAccessories')"
                :is-association="true"
        >
            <template #content="props">
                <sw-entity-many-to-many-select
                        :disabled="props.isInherited"
                        :localMode="false"
                        :value="props.currentValue"
                        :criteria="accessoryCriteria"
                        :entity-collection="props.currentValue"
                        @change="props.updateCurrentValue"
                >
                    <template #selection-label-property="{ item, index, labelProperty, valueProperty }">
                        {{ item.accessoryGroup.translated.name }} | {{ item.translated.name }}
                    </template>

                    <template #result-label-property="{ item, index }">
                        {{ item.accessoryGroup.translated.name }} | {{ item.translated.name }}
                    </template>
                </sw-entity-many-to-many-select>
            </template>
        </sw-inherit-wrapper>

        <template v-if="parentProduct.id">
            <sw-entity-multi-id-select
                    :repository="accessoryOptionRepository"
                    :criteria="accessoryCriteria"
                    :label="$tc('sw-product.detail.pcNotAvailable')"
                    v-model="product.extensions.pcProduct.notAvailable"
            >
                <template #selection-label-property="{ item, index, labelProperty, valueProperty }">
                    {{ item.accessoryGroup.translated.name }} | {{ item.translated.name }}
                </template>

                <template #result-label-property="{ item, index }">
                    {{ item.accessoryGroup.translated.name }} | {{ item.translated.name }}
                </template>
            </sw-entity-multi-id-select>
        </template>
    </sw-card>

    <sw-card
            v-if="!isLoading && parentProduct.id"
            :title="$tc('sw-product.detail.pcNotCombinable')"
            :isLoading="isLoading"
    >
        <template #header-right>
            <sw-button
                    @click="addNotCombinable"
            >
                {{ $tc('sw-product.detail.pcAddNotCombinable') }}
            </sw-button>

            <sw-button
                    @click="removeNotCombinable"
            >
                {{ $tc('sw-product.detail.pcRemoveNotCombinable') }}
            </sw-button>
        </template>

        <div
                v-for="(optItem, optIndex) in product.extensions.pcProduct.notCombinable"
                :index="optIndex"
        >
            <sw-entity-multi-id-select
                    :repository="accessoryOptionRepository"
                    :criteria="accessoryCriteria"
                    v-model="product.extensions.pcProduct.notCombinable[optIndex]"
            >
                <template #selection-label-property="{ item, index, labelProperty, valueProperty }">
                    {{ item.accessoryGroup.translated.name }} | {{ item.translated.name }}
                </template>

                <template #result-label-property="{ item, index }">
                    {{ item.accessoryGroup.translated.name }} | {{ item.translated.name }}
                </template>
            </sw-entity-multi-id-select>
        </div>
    </sw-card>
</div>
